.home {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.home .walletP {
  font-size: 40px;
}

.home .button-token {
  background-color: purple;
  color: white;
}

.container-header {
  display: flex;
  text-align: center;
  justify-content: center;
}