.home {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.home .walletP {
  font-size: 40px;
}

.home .button-token {
  background-color: purple;
  color: white;
}

.container-header {
  display: flex;
  text-align: center;
  justify-content: center;
}

.home .container-tokens {
  display: flex;
  text-align: center;
  justify-content: space-between;
  
}

.home .container-tokens .token {
  font-weight: bold;
}

.home .container-tokens .balance {

  font-weight: bold;
}

.home .container-items {
  display: flex;
  justify-content: space-between;
}

.home .container-items .balance {
  font-size: 25px;
  font-weight: bold;
}

.home .container-items .token {
  font-weight: bold;
  font-size: 25px;
}