.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.header .logo-icon {
  margin-top: 50px;
  max-width: 200px ;
}

.header .nav-items .walletP{
  font-size: 30px;
  font-weight: bold;
  max-width: 400px;
  width: 290px;
}

.header .nav-items {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:space-evenly;
  
}

.header .p-img {
  display: flex;
}
.header .star-img {
  max-width: 60px;
}

.header .button-add-token {
  font-size: 12px;
  background-color: #af00be
}

.header .button-add-token:hover {
  background-color: rgb(61, 0, 61);
}

.header .button-back {
  display: none;
}

